.body{
    padding-top: 50px;
    padding-right: 5%;
    padding-left: 5%;
}

.link{
    color: #212529;
    text-decoration: none;
}

.categorySeperator{
    padding-top: 50px;
}

.info{
    float: right;
}

.toolSeperator{
    padding-top: 10px;
}

.smallSeperator{
    padding-top: 2px;
}